/*--- Digg Inspired SiteMap Skin ----*/
.SiteMap-Digg {color: green;font-family:'Arial',sans-serif;font-size: 12px;}

.SiteMap-Digg:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.SiteMap-Digg .Digg, .SiteMap-Digg .Digg ul  {margin:5px 0 0 5px; padding: 0px; }

.SiteMap-Digg .SubLi {float:left; min-width:150px; border-right: 1px solid #ddd ;}
.SiteMap-Digg .SubLi .SubLi {clear:both;width:50%;border-right: none; }

.SiteMap-Digg li {list-style: none;}
.SiteMap-Digg li img {padding-right:5px;}
.SiteMap-Digg a,
.SiteMap-Digg ul a{
	text-decoration: none;
	color: green;
	font-family:'Arial',sans-serif;
	font-size: 12px;

}
.SiteMap-Digg .Digg a { font: 105% arial, helvetica, sans-serif; color: #8696A4;}
.SiteMap-Digg .Digg ul a {text-transform: uppercase;
    font: 85% tahoma, sans-serif;
    text-decoration: none;
    background: url("link-line.gif") repeat-x 0 100%;
    padding-bottom: 1px;
	color: #105CB6;
}
.SiteMap-Digg .Digg li {padding: 10px 5px 0 5px;}

.SiteMap-Digg .Digg a:visited { color: #105CB6; }
.SiteMap-Digg .Digg a:hover, .SiteMap-Digg .SiteMap a:focus { color: #003; }
.SiteMap-Digg .Digg a:active { color: #000; }