/*--- Basic TreeView Styles-- */
.SiteMap-famfamfam ul a{
	text-decoration: none;
	color: black;
	font-family:'Arial',sans-serif;
	font-size: 12px;
	line-height:120%;
	margin-left:10px;
}

.SiteMap-famfamfam .SubItem  {font-weight:bold;}

.SiteMap-famfamfam ul a:hover {color: red;}

/*-- famfamfam Theme ---*/
.SiteMap-famfamfam ul { 
	padding: 0;
	margin: 0;
	list-style: none;
}

.SiteMap-famfamfam .treeview ul {	
	margin-top: 4px;
}

.SiteMap-famfamfam .treeview .hitarea {
	background: url(treeview-default.gif) -64px -25px no-repeat;
	height: 16px;
	width: 16px;
	margin-left: -16px;
	float: left;
	cursor: pointer;
}
/* fix for IE6 */
* html .SiteMap-famfamfam .hitarea {
	display: inline;
	float:none;
}

.SiteMap-famfamfam .treeview li { 
	margin: 0;
	padding: 3px 0pt 3px 16px;
	list-style: none;
}

.SiteMap-famfamfam .treeview a.selected {color: blue;}

.SiteMap-famfamfam #treecontrol { margin: 1em 0; display: none; }

.SiteMap-famfamfam .treeview li { background: url(treeview-default-line.gif) 0 0 no-repeat; }
.SiteMap-famfamfam .treeview li.collapsable, .SiteMap-famfamfam  .treeview li.expandable { background-position: 0 -176px; }

.SiteMap-famfamfam .treeview .expandable-hitarea { background-position: -80px -3px; }



/* famfamfam theme */
.SiteMap-famfamfam .famfamfam li { background-image: url(treeview-famfamfam-line.gif); }
.SiteMap-famfamfam .famfamfam .hitarea, .SiteMap-famfamfam .famfamfam li.lastCollapsable, .SiteMap-famfamfam .famfamfam li.lastExpandable { background-image: url(treeview-famfamfam.gif); } 


.SiteMap-famfamfam .famfamfam strong, .SiteMap-famfamfam .famfamfam span.file { padding: 1px 0 1px 16px;margin-left:-10px }
.SiteMap-famfamfam .famfamfam strong { background: url(folder.gif) -1px 0 no-repeat; }
.SiteMap-famfamfam .famfamfam li.expandable strong { background: url(folder-closed.gif) -1px 0 no-repeat; }
.SiteMap-famfamfam .famfamfam li { background: url(file.gif) 15px 3px no-repeat;}
.SiteMap-famfamfam .famfamfam .hasIcon { background: none;}
.SiteMap-famfamfam .famfamfam li a {padding-left:5px;}