/*--- Basic TreeView Styles-- */
.SiteMap-TreeView-Red ul a{
	text-decoration: none;
	color: black;
	font-family:'Arial',sans-serif;
	font-size: 12px;
	line-height:120%;
	margin-left:10px;
}

.SiteMap-TreeView-Red .SubItem  {font-weight:bold;}

.SiteMap-TreeView-Red ul a:hover {color: red;}
/*-- TreeView Red Theme ---*/
.SiteMap-TreeView-Red .treeview, .SiteMap-TreeView-Red .treeview ul { 
	padding: 0;
	margin: 0;
	list-style: none;
}

.SiteMap-TreeView-Red .treeview ul {
	margin-top: 4px;
}

.SiteMap-TreeView-Red .treeview .hitarea {
	background: url(treeview-red.gif) -64px -25px no-repeat;
	height: 16px;
	width: 16px;
	margin-left: -16px;
	float: left;
	cursor: pointer;
}
/* fix for IE6 */
* html .SiteMap-TreeView-Red .hitarea {
	display: inline;
	float:none;
}

.SiteMap-TreeView-Red .treeview li { 
	margin: 0;
	padding: 3px 0pt 3px 16px;
	list-style: none;
}

.SiteMap-TreeView-Red .treeview a.selected {
	color: blue;
}

.SiteMap-TreeView-Red #treecontrol { margin: 1em 0; display: none; }

.SiteMap-TreeView-Red .treeview li { background: url(treeview-red-line.gif) 0 0 no-repeat; }
.SiteMap-TreeView-Red .treeview li.collapsable, .SiteMap-TreeView-Red .treeview li.expandable { background-position: 0 -176px; }

.SiteMap-TreeView-Red .treeview .expandable-hitarea { background-position: -80px -3px; }

.SiteMap-TreeView-Red .treeview li.last { background-position: 0 -1766px }
.SiteMap-TreeView-Red .treeview li.lastCollapsable { background-position: 0 -111px }
.SiteMap-TreeView-Red .treeview li.lastExpandable { background-position: -32px -67px }

.SiteMap-TreeView-Red .treeview div.lastCollapsable-hitarea, .SiteMap-TreeView-Red .treeview div.lastExpandable-hitarea { background-position: 0; }

.TreeView-Red li { background-image: url(treeview-red-line.gif); }
.TreeView-Red .hitarea, .TreeView-Red li.lastCollapsable, .TreeView-Red li.lastExpandable { background-image: url(treeview-red.gif); } 

.treeview-Red .expandable-hitarea { background-position: -80px -3px; }