/*--- Basic TreeView Styles-- */
.SiteMap-TreeView-Black ul a{
	text-decoration: none;
	color: black;
	font-family:'Arial',sans-serif;
	font-size: 12px;
	line-height:120%;
	margin-left:10px;
}

.SiteMap-TreeView-Black .SubItem  {font-weight:bold;}

.SiteMap-TreeView-Black ul a:hover {color: red;}
/*-- TreeView Black Theme ---*/
.SiteMap-TreeView-Black .treeview, .SiteMap-TreeView-Black .treeview ul { 
	padding: 0;
	margin: 0;
	list-style: none;
}

.SiteMap-TreeView-Black .treeview ul {
	margin-top: 4px;
}

.SiteMap-TreeView-Black .treeview .hitarea {
	background: url(treeview-black.gif) -64px -25px no-repeat;
	height: 16px;
	width: 16px;
	margin-left: -16px;
	float: left;
	cursor: pointer;
}
/* fix for IE6 */
* html .SiteMap-TreeView-Black .hitarea {
	display: inline;
	float:none;
}

.SiteMap-TreeView-Black .treeview li { 
	margin: 0;
	padding: 3px 0pt 3px 16px;
	list-style: none;
}

.SiteMap-TreeView-Black .treeview a.selected {
	color: blue;
}

.SiteMap-TreeView-Black #treecontrol { margin: 1em 0; display: none; }

.SiteMap-TreeView-Black .treeview li { background: url(treeview-black-line.gif) 0 0 no-repeat; }
.SiteMap-TreeView-Black .treeview li.collapsable, .SiteMap-TreeView-Black .treeview li.expandable { background-position: 0 -176px; }

.SiteMap-TreeView-Black .treeview .expandable-hitarea { background-position: -80px -3px; }

.SiteMap-TreeView-Black .treeview li.last { background-position: 0 -1766px }
.SiteMap-TreeView-Black .treeview li.lastCollapsable { background-position: 0 -111px }
.SiteMap-TreeView-Black .treeview li.lastExpandable { background-position: -32px -67px }

.SiteMap-TreeView-Black .treeview div.lastCollapsable-hitarea, .SiteMap-TreeView-Black .treeview div.lastExpandable-hitarea { background-position: 0; }


.TreeView-Black li { background-image: url(treeview-black-line.gif); }
.TreeView-Black .hitarea, .TreeView-Black li.lastCollapsable, .TreeView-Black li.lastExpandable { background-image: url(treeview-black.gif); } 

.treeview-Black .expandable-hitarea { background-position: -80px -3px; }