/*--- Basic TreeView Styles-- */
.SiteMap-GlossyBlue ul a{
	text-decoration: none;
	color: black;
	font-family:'Arial',sans-serif;
	font-size: 12px;
	line-height:120%;
	margin-left:10px;
}
.SiteMap-GlossyBlue .SubItem  {font-weight:bold;}

.SiteMap-GlossyBlue ul a:hover {color: red;}
/*-- Glossy Blue Theme ---*/
.SiteMap-GlossyBlue .treeview,.SiteMap-GlossyBlue  .treeview ul { 
	padding: 0;
	margin: 0;
	list-style: none;
}

.SiteMap-GlossyBlue .treeview ul {
	margin-top: 4px;
}

.SiteMap-GlossyBlue .treeview .hitarea {
	background: url(treeview-navigation.gif) -64px -25px no-repeat;
	height: 16px;
	width: 16px;
	margin-left: -16px;
	float: left;
	cursor: pointer;
}
/* fix for IE6 */
* html .SiteMap-GlossyBlue .hitarea {
	display: inline;
	float:none;
}

.SiteMap-GlossyBlue .treeview li { 
	margin: 0;
	padding: 3px 0pt 3px 16px;
	list-style: none;
}

.SiteMap-GlossyBlue .treeview a.selected {
	color: blue;
}

.SiteMap-GlossyBlue #treecontrol { margin: 1em 0; display: none; }

.SiteMap-GlossyBlue .treeview li { background: url(treeview-navigation-line.gif) 0 -1px no-repeat; }
.SiteMap-GlossyBlue .treeview li.collapsable, .SiteMap-GlossyBlue .treeview li.expandable { background-position: 0 -176px; }

.SiteMap-GlossyBlue .treeview .expandable-hitarea { background-position: -80px -3px; }

.GlossyBlue li.last { background-position: 0 -1766px }
.GlossyBlue li.lastCollapsable, .GlossyBlue li.lastExpandable { background-image: url(treeview-navigation.gif); }  
.GlossyBlue li.lastCollapsable { background-position: 0 -111px }
.GlossyBlue li.lastExpandable { background-position: -32px -67px }

.GlossyBlue div.lastCollapsable-hitarea, .GlossyBlue div.lastExpandable-hitarea { background-position: 0; }

.GlossyBlue strong { margin-left:-8px;margin-top:-15px; }